# Piper TTS
PIPER_BIN=/home/tu_usuario/piper/piper/piper
PIPER_MODEL=/home/tu_usuario/piper/models/es_AR-daniela-high.onnx
PROMPT_SOURCE=hardcoded  # opciones: hardcoded | dynamic
OLLAMA_MODEL=llama3.2:3b  # opciones: llama3.2:3b